* {
    box-sizing: border-box;
}

html {
    
    line-height: 1.5em;
    text-align: center;
}

body {
    margin: 0;
    background-color: $clr2;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
    margin: 0 0 rem(20px);
    color: darken($clr5, 0.4);
}

h1 {
    font-size: rem(36px);
}

p {
    margin: 0 0 rem(20px);
    max-width: 60ch;
}