// Colors
$clr1: #eeeeee;
$clr2: #393e46;
$clr3: #76ead7;
$clr4: #c4fb6d;
$clr5: #ffffff;

$right: #3eca3e;
$wrong: #da424c;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;